.logo {
  position: fixed;
  top: 10px;
  width: 70px;
  z-index: 1050;
  height: 70px;
  opacity: 0.9;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
}
