body {
  background-color: $background-color;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  color: $white-color;
  padding: 0;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: $white-color;
  cursor: pointer;

  &:hover {
    color: currentColor;
  }
}
